#Temporales
prueba.json
json_rta.php

application/config/config.php
application/config/database.php

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.htaccess

assets/actions/server_processing.php
assets/uploads/*

uploads/*

pruebas/db_config.php

guiame-app
guiame-app/*

#NODE

app_node/node_modules
app_node/npm-debug.log